body {
    font-family: montserrat;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(55, 32, 66);
    color: white;
    font-size: 24px;
    padding: 0% 15%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 3% 25%;
    align-items: center;
    font-size: 18px;
}

#hero-image {
    width: 300px;
    margin-left: auto;  
}

.hero-left {
    width: 400px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: 550;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-style: none;   
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 0%;
    padding-bottom: 2%;
}

.images {
    background-color: midnightblue;
    color: white;
    padding: 2%;
    padding-bottom: 5%;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

img {
    width: 150px;
}

.text {
    width: 150px;
}

.quote-container {
    background-color: rgb(184, 184, 184);
    padding: 5%;
    height: 100px;
    
  
  
}

#quote {

    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    margin-bottom: 0px;
    line-height: 100px;

}

#reference {
    font-size: 20px;
    font-weight: 600;
    margin-top: -25px;
    margin-left: 1050px;

    

    
  
}