html {
    background-image: linear-gradient(315deg, rgba(215,5,242,.2) 0%, rgba(2,6,89,.2) 100%), url(images/header-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: montserrat;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(315deg, rgba(215,5,242,.5) 0%, rgba(2,6,89,.5) 100%);
    background-color:rgb(55, 32, 66);
    color: #05F2C7;
    font-size: 24px;
    padding: 0% 15% 0% 15%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    
    color: white;
    display: flex;
    flex-direction: row;
    padding: 3% 25%;
    align-items: center;
    font-size: 18px;
}

#hero-image {
    width: 300px;
    margin-left: auto;
   filter: drop-shadow(5px 5px 40px rgba(1,1,1))
}

.hero-left {
    width: 400px;
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #05F2C7;
}

button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: 550;
    background-color: #05F2C7;
    color: rgb(2,6,89);
    border-radius: 5px;
    border-style: none;   
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 0%;
    padding-bottom: 2%;
    color: #05F2C7;
}

.images {
    background: linear-gradient(315deg, rgba(215,5,242,.5) 0%, rgba(2,6,89,.5) 100%);
    background-color:rgb(55, 32, 66);
    color: white;
    padding: 2%;
    padding-bottom: 5%;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #05F2C7;
    border-radius: 20px;
    
}

.text {
    width: 150px;
    margin: auto;
}

.quote-container {
    padding: 5%;
    height: 100px; 
}

#quote {

    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 0px;
    line-height: 100px;
    color: #05F2C7;
}

#reference {
    font-size: 20px;
    font-weight: 600;
    margin-top: -25px;
    margin-left: 1050px;
    color: white;
}

.call-to-action {
    background-color: #05F2C7;
    margin: 100px auto;
    color: white;
    height: 120px;
    width: 850px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}   

.call-to-action h3 {
    margin: 0;
    color: rgb(2,6,89);
}

.call-to-action p {
    margin: 1px 0;
    color: rgb(2,6,89);
}

.call-to-action button {
    border: 2px solid rgb(2,6,89);
}
    
footer {
    
    background: linear-gradient(315deg, rgba(215,5,242,.5) 0%, rgba(2,6,89,.5) 100%);
    background-color:rgb(55, 32, 66);
    color: #05F2C7;
    padding: 1.5%;
    text-align: center;
} 
